@page "/"
@using System.Linq
@using System.Collections
@using System

<div class="container">
    <div class="row">
        <h1>Wiegand Calculator</h1>
    </div>
    <div class="row">
        <input size="@_size" style="font-family: monospace;" type="text" @bind-value="CardData" @bind-value:event="oninput"/>
    </div>
    <div>
        <button type="button" class="btn btn-primary" @onclick="Evaluate">Evaluate</button>
    </div>
    <div class="row">
        <p>Facility Code: @_facilityCode</p>
        <p>Card Number: @_cardNumber</p>
    </div>
</div>

@functions {
    private byte _size = 26;
    private ulong? _facilityCode;
    private ulong? _cardNumber;

    private string _cardData;
    private string CardData
    {
        get => _cardData;
        set
        {
            _cardData = new string(value.Where(c => c == '0' || c == '1').Take(_size).ToArray());
        }
    }

    private void Evaluate()
    {
        // 01011010000000010110001100
        _facilityCode = ExtractValueFromCardData(1, 8);
        _cardNumber = ExtractValueFromCardData(9, 16);
    }

    private ulong ExtractValueFromCardData(byte start, byte length)
    {
        var bitArray = new BitArray(length);
        byte bitIndex = (byte)(length - 1);
        for (var index = start; index < _cardData.Length && index < start + length; index++)
        {
            bitArray[bitIndex--] = _cardData[index] == '1';
        }
        
        var array = new byte[8];
        bitArray.CopyTo(array, 0);
        return BitConverter.ToUInt64(array, 0);
    }
}